.slide{width: 100vw;overflow: hidden;height: 100vh;}
ul{transition: .5s; width: 300vw;display: flex;align-items: center;}
li {width: 100vw;height: 100vh;display: flex;justify-content: center;gap: 80px; align-items: center;}
.card{display: flex;flex-direction: column;gap: 5px; justify-content: center;}
.card img {width: 300px;height: 400px;}
.card * {color: white;}
.card .sub {color: rgba(255, 255, 255, 0.5);}
body{background-color: rgb(100, 85, 69);}
.nav {display: none;width: 50px;height: 50px;position: absolute;background-color: rgba(255, 255, 255, 0.1);border: 1px solid white;font-size: 20px;color: white; justify-content: center;align-items: center;}
.prev {left: 47%;bottom: 30px;}
.next {left: 52%;bottom: 30px;}


#s1:checked ~ .slide > ul {transform: translate(0);}
#s2:checked ~ .slide > ul {transform: translate(-100vw);}
#s3:checked ~ .slide > ul {transform: translate(-200vw);}
#s1:checked ~ .slide .p1, #s1:checked ~ .slide .n1 {display: flex;}
#s2:checked ~ .slide .p2, #s2:checked ~ .slide .n2 {display: flex;}
#s3:checked ~ .slide .p3, #s3:checked ~ .slide .n3 {display: flex;}